---

// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="paddingLess">
    <div class="relative overflow-hidden">
     
      <video
        autoplay
        muted
        loop
        playsinline
        class="object-cover object-center w-full h-[60dvh] lg:h-[72dvh] bg-base-50"
      >
        <source src="/bgvideo2.mp4" type="video/mp4" />
      </video>
      <div
        aria-hidden="true"
        class="absolute inset-0 pointer-events-none bg-accent-950/70"
      >
      </div>
    </div>
  </Wrapper>
  <Wrapper variant="standard" class="py-12">
    <div class="grid grid-cols-1 lg:grid-cols-3 lg:items-end gap-y-4">
      <Text
        tag="h1"
        variant="displayXL"
        class="text-accent-800 font-display text-balance lg:col-span-2"
      >
        Agricultural Innovation You Can Rely On.
      </Text>
    
      <Text
        tag="p"
        variant="textSM"
        class="text-base-600 leading-relaxed border-accent-500"
      >
        For over two decades, we've helped farms and agribusinesses streamline
        operations with advanced IoT automation technologies. Our solar-powered systems deliver
        efficiency, consistency, and sustainable growth for agricultural producers of
        all sizes.
      </Text>
    
    </div>
  </Wrapper>
</section>
